<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.29" targetFramework="net461" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net461" />
  <package id="NLog" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.2" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.2" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net461" />
</packages>