<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  
    <!-- Define publications where publishing mirroring should be triggered -->
    <add key="SourcePublications" value="tcm:0-7-1"/>
    
    <!-- Define the publications which publishing  -->
    <add key="TargetPublications" value="400 Example Site"/>

    <!-- Enable logging of all publish transactions -->
    <add key="PublishLoggingEnabled" value="true" />

    <!-- Enable mirroring only if propogate children is selected -->
    <add key="MirrorIfPropogateSelected" value="true" />

    <!-- Force the advanced publish / unpublish setting to publish to child publications -->
    <add key="ForcePublishToChildPublications" value="false" />

    <!-- Force the advanced publish setting to publish in-workflow versions -->
    <add key="ForcePublishWorkflowVersion" value="false" />

    <!-- Force the advanced publish setting to publish minor versions -->
    <add key="ForcePublishMinorVersion" value="false" />

  </appSettings>
</configuration>